.DS_Store
.aider*
.codeium*
.continue*
.double*
.gemini*
.phind*
.supermaven*
.tabnine*
.antigravity*
.clauderules
.windsurfrules
.clinerules
.cursorrules
.geminirules
.unimem/
Formula/.aider*
Formula/.codeium*
Formula/.continue*
Formula/.double*
Formula/.gemini*
Formula/.phind*
Formula/.supermaven*
Formula/.tabnine*
